<%- include("header") -%>

    <div class="box"    id="heading">
        <h1><%= kindOfDay %> </h1>
    </div>
    
    <div class="box">
        <% for( let i = 0; i < newItem.length; i++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newItem[i] %> </p>
            </div>
        <% } %>
        <form class="item" action="/" method="POST">
            <input type="text" name="inputField" placeholder="New Item" autocomplete="off">
            <button type="submit" name="item" value=<%= kindOfDay%>>+</button>
        </form>
    </div>
        
    <%- include("footer") -%>